<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                         http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <task:scheduled-tasks>
		<task:scheduled ref="CustomerContractService" method="autoTotalLateFee" cron="0 0 0 * * ?" />
		<task:scheduled ref="DepartmentWeeklyStatementService" method="autoAddDepartmentWeeklyStatement" cron="0 0 0 ? * FRI" />
		<task:scheduled ref="DepartmentMonthlyStatementService" method="autoAddDepartmentMonthlyStatement" cron="0 0 0 1 * ?" />
		<!-- <task:scheduled ref="TestService" method="autoAddTest" cron="50 8 11 * * ?" /> -->
	</task:scheduled-tasks>	
</beans>